In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

# Context

In [7]:
train=pd.read_csv('train.csv',index_col='PassengerId')
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2,"Bell, Adele",female,62.00,0,0,PC 15008,14.86,D17243,C
99996,0,2,"Brown, Herman",male,66.00,0,0,13273,11.15,NaN,S
99997,0,3,"Childress, Charles",male,37.00,0,0,NaN,9.95,NaN,S
99998,0,3,"Caughlin, Thomas",male,51.00,0,1,458654,30.92,NaN,S
99999,0,3,"Enciso, Tyler",male,55.00,0,0,458074,13.96,NaN,S

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB

In [9]:
train['Survived'].value_counts()

0    57226
1    42774
Name: Survived, dtype: int64

In [10]:
train['Pclass'].value_counts()

3    41006
1    30315
2    28679
Name: Pclass, dtype: int64

In [11]:
train['Name'].value_counts()

Johnson, John       31
Smith, James        24
Smith, John         24
Johnson, William    22
Smith, Michael      20
                    ..
Peaslee, Susan       1
Steward, Paige       1
Ta, Manuel           1
Ortiz, Jack          1
Balentine, Lewis     1
Name: Name, Length: 92144, dtype: int64

In [12]:
train['SibSp'].value_counts()

0    73308
1    19758
2     3703
3     1635
4     1168
8      296
5      132
Name: SibSp, dtype: int64

In [13]:
train['Parch'].value_counts()

0    73540
1    12996
2    11236
3      983
4      446
5      331
9      264
6      204
Name: Parch, dtype: int64

In [15]:
train['Ticket'].value_counts()

A/5            602
C.A.           177
SC/PARIS       145
SOTON/O.Q.      80
SC              57
              ...
432145           1
473430           1
57112            1
324977           1
332503           1
Name: Ticket, Length: 75331, dtype: int64

In [16]:
train['Cabin'].value_counts()

C19828    6
C11139    5
B18148    5
B11110    5
A9127     5
         ..
D19118    1
B5717     1
B9389     1
D4111     1
B12732    1
Name: Cabin, Length: 26992, dtype: int64

In [17]:
train['Embarked'].value_counts()

S    72139
C    22187
Q     5424
Name: Embarked, dtype: int64

# Data quality assessment

In [19]:
key = ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch','Ticket','Fare','Cabin','Embarked']
train.fillna(-999).groupby(key).count().sort_values(ascending=False).head(20)

KeyError: 'Column not found: PassengerId'

# Data exploration

# Summary